.navigation ul {
  display: flex;
  padding-left: 5%;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navigation li {
  transition: 0.2s;
  list-style: none;
  padding-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation li:hover {
  color: pink;
}